@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: EB+Garamond,'areal', sans-serif;
}
body{
 height: 100dvh;
 background: #fff;
 display: flex;
 justify-content: center;
 align-items: flex-start;
}
.wrapper{
 position: relative;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: min-content;
 background: aliceblue;
 box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
 padding-bottom: 8px;
}
.wrapper > div{
 position: relative;
 background: #f8f8ff;
 justify-items: center;
 align-content: space-between;
 padding-top: 10px;
}
.wrapper [class*="school"], [class*="map"], [class*="account"]{
 position: relative;
 display: inline-flex;
 justify-content: center;
 align-items: center;
 color: aliceblue;
 margin-top: 15px;
 width: 40px;
 aspect-ratio: 1;
 padding: 8px;
 border-radius: 50%;
 background: blueviolet;
 outline: 1px solid aliceblue;
 outline-offset: -4px;
 z-index: 1000;
}
.wrapper > div div:has(img){
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 80%;
 aspect-ratio: 1;
 background: ghostwhite;
 border-radius: 50%; 
 box-shadow: inset 2px 2px 4px rgba(0,0,0,0.3),
             inset -2px -2px 4px rgba(0,0,0,0.3),
             0px 0px 4px rgba(0,0,0,0.4);
 border: 1px solid #fff;
}
.wrapper > div div:has(img)::before{
 content: '';
 width: 290px;
 height: 20px;
 position: absolute;
 left: 70%;
 top: 35%;
 background: blueviolet;
 border-radius: 2px;
 box-shadow: 2px 2px 4px rgba(0,0,0,0.2),
  -2px -2px 4px rgba(0,0,0,0.2);
  z-index: 1;
}
.img img{
 width: calc(100% - 14px);
 aspect-ratio: 1;
 object-fit: cover;
 border-radius: 50%;
 background: blueviolet;
 border: 1px solid blueviolet;
 z-index: 1;
}
.wrapper div span:nth-child(2){
 position: relative;
 display: inline-block;
 margin-top: 10px;
 width: min-content;
 height: min-content;
 padding: 2px;
 background: aliceblue;
 border-radius: 2px;
 white-space: nowrap;
 box-shadow: 0 4px 6px rgba(0,0,0,0.2);
 font-size: .50em;
}

.wrapper ul {
  background: ghostwhite;
  width: min-content;
  aspect-ratio: 1;
  border-radius: 4px;
  list-style: none;
  font-size: .50em;
  margin-top: 1em;
  white-space: nowrap;
  padding: 4px;
  padding-inline: 8px;
  border: 1px solid #fff;
  box-shadow: 2px 2px 4px rgba(255,255,255,1),
             -2px -2px 4px rgba(0,0,0,0.2);
  line-height: 2;
  color: gray;
}
p{
 border-bottom: 0.10em solid lightseagreen;
}
.wrapper #icon{
 position: relative;
 display: flex;
 font-size: .50em;
 gap: 8px;
 top: .50em;
 color: gray;
 width: min-content;
}
h6{
 white-space: nowrap;
 color: gray;
 font-size: .50em;
 position: absolute;
 bottom: 2px;
 right: 10px;
}
.wrapper [class$="whatsapp"]{
 color: lightseagreen;
}
.wrapper [class$="phone"]{
 color: blue;
}